#footer {
  font-size: 14px;
  color: #777;
}

.page {
  display: grid;
  margin: 0;
  height: 100vh;
  background-color: white;
  padding: 10px;
}

.header-grid {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  height: 100vh;
}

.content-center {
  justify-self: center;
  align-self: center;
}

.align-center {
  text-align: center;
}

.small-width {
  width: 960px;
}

.inner {
  margin: auto;
  width: 960px;
  padding: 10px;
}

